<section>
  <p-growl [(value)]="msgs" life=3000></p-growl>
    <div class="toolbar">
      <div>
        <button md-raised-button (click)="onSave()">Save</button>
        <button md-raised-button (click)="onSave()">Save + Create Visit</button>
        <button md-raised-button>New</button>
        <button md-raised-button>Save + New</button>
      </div>
    </div>
  <p>
    {{data | json}}
  </p>

    <md-card>
      <md-card-header md-colors=":{backgroundColor: 'default-primary-700'}">
        <md-card-title>Patient Master</md-card-title>
        <md-card-subtitle>New Patient</md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <md-tab-group>
          <md-tab>
            <template md-tab-label>
              Patient information
            </template>
            <md-card>
              <md-card-content>
                  <div class="container">
                    <div> 
                      <md-input-container class="input-full-width">
                        <input mdInput placeholder="Full name" [(ngModel)]="data.userFullName" name="userFullName">
                      </md-input-container>
                    </div>
                    <div>
                      <md-select placeholder="Title" name="title" class="input-full-width" name="title" [(ngModel)]="data.titleID">
                        <md-option *ngFor="let title of titles" [value]="title.titleID">
                          {{title.titleName}}
                        </md-option>
                      </md-select>
                    </div>
                    <div>
                      <md-radio-group class="input-full-width">
                        <md-radio-button *ngFor="let sex of gender" [value]="sex">
                          {{sex}}
                        </md-radio-button>
                      </md-radio-group>
                    </div>
                  </div>

                  <div class="container">
                    <div>
                      <md-input-container class="input-full-width">
                        <input mdInput type="date" placeholder="Date of Birth" [(ngModel)]="data.userFullName" name="userFullName">
                      </md-input-container>
                    </div>
                    <div>
                      <md-input-container class="input-full-width">
                        <input mdInput placeholder="Identification Number" [(ngModel)]="data.userFullName" name="userFullName">
                      </md-input-container>
                    </div>
                    <div>
                      <md-select placeholder="Identification type" name="IDType" name="title" [(ngModel)]="data.titleID">
                        <md-option *ngFor="let IDtype of IDtypes" [value]="IDtype.identificationTypeID">
                          {{IDtype.identificationName}}
                        </md-option>
                      </md-select>
                    </div>
                  </div>
                  <div class="container">
                    <div>
                      <md-input-container class="input-full-width">
                        <input mdInput placeholder="Mobile Phone" [(ngModel)]="data.userFullName" name="userFullName">
                      </md-input-container>
                    </div>
                    <div>
                      <md-input-container class="input-full-width">
                        <input mdInput placeholder="Phone" [(ngModel)]="data.userFullName" name="userFullName">
                      </md-input-container>
                    </div>
                    <div>
                      <md-input-container class="input-full-width">
                        <input mdInput type="email" placeholder="Email" [(ngModel)]="data.userFullName" name="userFullName">
                      </md-input-container>
                    </div>
                  </div>

                  <div class="container">
                    <div>
                      <md-input-container class="input-full-width">
                        <textarea mdInput placeholder="Address" [(ngModel)]="data.userFullName" name="userFullName"></textarea>
                      </md-input-container>
                    </div>
                  </div>

                  <div class="container">
                    <div>
                      <md-input-container class="input-full-width">
                        <input mdInput placeholder="City"  [(ngModel)]="data.userFullName" name="userFullName">
                      </md-input-container>
                    </div>
                    <div>
                      <md-input-container class="input-full-width">
                        <input mdInput type="number" placeholder="Postal Code" [(ngModel)]="data.userFullName" name="userFullName">
                      </md-input-container>
                    </div>
                    <div>
                      <md-select placeholder="State" name="state" [(ngModel)]="data.titleID">
                        <md-option *ngFor="let state of states" [value]="state.stateID">
                          {{state.stateName}}
                        </md-option>
                      </md-select>
                    </div>
                    <div>
                      <md-select placeholder="Country" [(ngModel)]="selectedCountry" name="country" [(ngModel)]="data.titleID">
                        <md-option *ngFor="let country of countries" [value]="country.countryID">
                          {{country.countryName}}
                        </md-option>
                      </md-select>
                    </div>
                  </div>
              </md-card-content>
            </md-card>
          </md-tab>
          <md-tab>
            <template md-tab-label>
              Emergency Contact
            </template>
            <md-card  >
              <md-card-content>
                <div class="container">
                  <div> 
                    <md-input-container class="input-full-width">
                      <input mdInput placeholder="Full name" [(ngModel)]="data.userFullName" name="userFullName">
                    </md-input-container>
                  </div>
                  <div>
                    <md-select placeholder="Relation" name="relation" name="title" [(ngModel)]="data.titleID">
                      <md-option *ngFor="let relation of relationship" [value]="relation.relationshipID" >
                        {{relation.relationshipName}}
                      </md-option>
                    </md-select>
                  </div>
                </div>
                <div class="container">
                  <div>
                    <md-input-container class="input-full-width">
                      <input mdInput type="date" placeholder="Date of Birth" [(ngModel)]="data.userFullName" name="userFullName">
                    </md-input-container>
                  </div>
                  <div>
                    <md-input-container class="input-full-width">
                      <input mdInput placeholder="Identification Number" [(ngModel)]="data.userFullName" name="userFullName">
                    </md-input-container>
                  </div>
                  <div>
                      <md-select placeholder="Identification type" name="emergencyIDType" [(ngModel)]="data.titleID">
                        <md-option *ngFor="let IDtype of IDtypes" [value]="IDtype.identificationTypeID">
                          {{IDtype.identificationName}}
                        </md-option>
                      </md-select>
                  </div>
                </div>
                <div class="container">
                  <div>
                    <md-input-container class="input-full-width">
                      <input mdInput placeholder="Mobile Phone" [(ngModel)]="data.userFullName" name="userFullName">
                    </md-input-container>
                  </div>
                  <div>
                    <md-input-container class="input-full-width">
                      <input mdInput placeholder="Phone" [(ngModel)]="data.userFullName" name="userFullName">
                    </md-input-container>
                  </div>
                  <div>
                    <md-input-container class="input-full-width">
                      <input mdInput type="email" placeholder="Email" [(ngModel)]="data.userFullName" name="userFullName">
                    </md-input-container>
                  </div>
                </div>
                <div class="container">
                  <div>
                    <md-input-container class="input-full-width">
                      <textarea mdInput placeholder="Address" [(ngModel)]="data.userFullName" name="userFullName"></textarea>
                    </md-input-container>
                  </div>
                  <div>
                    <md-checkbox class="example-margin">Same as Patient's Address</md-checkbox>
                  </div>
                </div>
                <div class="container">
                  <div>
                    <md-input-container class="input-full-width">
                      <input mdInput placeholder="City" [(ngModel)]="data.userFullName" name="userFullName">
                    </md-input-container>
                  </div>
                  <div>
                    <md-input-container class="input-full-width">
                      <input mdInput type="number" placeholder="Postal Code" [(ngModel)]="data.userFullName" name="userFullName">
                    </md-input-container>
                  </div>
                  <div>
                    <md-select placeholder="State" name="title" [(ngModel)]="data.titleID">
                      <md-option *ngFor="let state of states" [value]="state.stateID">
                        {{state.stateName}}
                      </md-option>
                    </md-select>
                  </div>
                  <div>
                      <md-select placeholder="Country" [(ngModel)]="selectedCountry" name="title" [(ngModel)]="data.titleID" >
                        <md-option *ngFor="let country of countries" [value]="country.countryID">
                          {{country.countryName}}
                        </md-option>
                      </md-select>
                  </div>
                </div>
              </md-card-content>
            </md-card>
          </md-tab>
          <md-tab>
            <template md-tab-label>
              Insurance Information
            </template>
            <md-card  >
              <md-card-content>
                <div class="container">
                  <div> 
                    <md-input-container class="input-full-width">
                      <input mdInput placeholder="Insurance" [mdAutocomplete]="autoInsurance" [formControl]="insuranceCtrl">
                    </md-input-container>

                    <md-autocomplete #autoInsurance="mdAutocomplete">
                      <md-option *ngFor="let insurance of filteredInsurances | async" [value]="insurance">
                        {{ insurance }}
                      </md-option>
                    </md-autocomplete>
                  </div>
                  <div>
                    <md-input-container class="input-full-width">
                      <input mdInput placeholder="Payor" [mdAutocomplete]="reactiveAuto" [formControl]="payorCtrl">
                    </md-input-container>

                    <md-autocomplete #reactiveAuto="mdAutocomplete" [displayWith]="displayFn">
                      <md-option *ngFor="let payor of filteredPayors | async" [value]="payor">
                        <span>{{ payor.payorID }}</span>
                        <span> ({{payor.payorName}}) </span>
                      </md-option>
                    </md-autocomplete>

                  </div>
                </div>
                <div class="container">
                  <div>
                    <md-input-container class="input-full-width">
                      <input mdInput type="date" placeholder="Start Date" [(ngModel)]="data.userFullName" name="userFullName">
                    </md-input-container>
                  </div>
                  <div>
                    <md-input-container class="input-full-width">
                      <input mdInput type="date" placeholder="End date" [(ngModel)]="data.userFullName" name="userFullName">
                    </md-input-container>
                  </div>
                  <div>
                    <md-checkbox class="example-margin" [(ngModel)]="inUse" name="inUse">In-Use</md-checkbox>
                  </div>
                </div>
                <div class="container">
                  <div>
                    <md-input-container class="input-full-width">
                      <textarea mdInput placeholder="Remark" [(ngModel)]="data.userFullName" name="userFullName"></textarea>
                    </md-input-container>
                  </div>
                </div>

              </md-card-content>
            </md-card>
          </md-tab>
          <md-tab>
            <template md-tab-label>
              Employee Information
            </template>
            <md-card  >
              <md-card-content>
                <div class="container">
                  <div> 
                    <md-input-container class="input-full-width">
                      <input mdInput placeholder="Employer" [(ngModel)]="data.userFullName" name="userFullName">
                    </md-input-container>
                  </div>
                  <div>
                    <md-input-container class="input-full-width">
                      <input mdInput placeholder="Employee Reference No" [(ngModel)]="data.userFullName" name="userFullName">
                    </md-input-container>
                  </div>
                </div>
                <div class="container">
                  <div>
                    <md-input-container class="input-full-width">
                      <input mdInput placeholder="Phone" [(ngModel)]="data.userFullName" name="userFullName">
                    </md-input-container>
                  </div>
                  <div>
                    <md-input-container class="input-full-width">
                      <input mdInput placeholder="Fax" [(ngModel)]="data.userFullName" name="userFullName">
                    </md-input-container>
                  </div>
                  <div>
                    <md-input-container class="input-full-width">
                      <input mdInput type="email" placeholder="Email" [(ngModel)]="data.userFullName" name="userFullName">
                    </md-input-container>
                  </div>
                </div>
                <div class="container">
                  <div>
                    <md-input-container class="input-full-width">
                      <textarea mdInput placeholder="Address" [(ngModel)]="data.userFullName" name="userFullName"></textarea>
                    </md-input-container>
                  </div>
                </div>
                <div class="container">
                  <div>
                    <md-input-container class="input-full-width">
                      <input mdInput placeholder="City" [(ngModel)]="data.userFullName" name="userFullName">
                    </md-input-container>
                  </div>
                  <div>
                    <md-input-container class="input-full-width">
                      <input mdInput type="number" placeholder="Postal Code" [(ngModel)]="data.userFullName" name="userFullName">
                    </md-input-container>
                  </div>
                  <div>
                    <md-select placeholder="State" name="title" [(ngModel)]="data.titleID" >
                      <md-option *ngFor="let state of states" [value]="state.stateID">
                        {{state.stateName}}
                      </md-option>
                    </md-select>
                  </div>
                  <div>
                      <md-select placeholder="Country" [(ngModel)]="selectedCountry" name="title" [(ngModel)]="data.titleID" >
                        <md-option *ngFor="let country of countries" [value]="country.countryID">
                          {{country.countryName}}
                        </md-option>
                      </md-select>
                  </div>
                </div>
              </md-card-content>
            </md-card>
          </md-tab>
        </md-tab-group>
      </md-card-content>
    </md-card>
</section>