<section >
  <form>
    <div class="container">
      <div>
        <button md-raised-button>Save</button>
        <button md-raised-button>New</button>
      </div>
    </div>

    <md-card>
      <md-card-header>
        <md-card-title >Visit</md-card-title>
        <md-card-subtitle>New Visit</md-card-subtitle>
      </md-card-header>
      <md-card-content>

        <div class="container">
          <div> 
              <md-input-container class="input-full-width">
                <input mdInput placeholder="Patient" >
              </md-input-container>
          </div>
          <div>
              <md-radio-group>
                <md-radio-button *ngFor="let visitType of visitTypes" [value]="visitType">
                  {{visitType}}
                </md-radio-button>
              </md-radio-group>
            </div>
        </div>

        <div class="container">
            <div>
              <md-input-container class="input-full-width">
                <input mdInput type="datetime-local" placeholder="Visit Date-Time" >
              </md-input-container>
            </div>
            <div>
              <md-input-container class="input-full-width">
                <input mdInput placeholder="Department">
              </md-input-container>
            </div>
          </div>
          <div class="container">
            <div>
              <md-checkbox>Cash Patient</md-checkbox>
            </div>
            <div>
              <md-input-container class="input-full-width">
                <input mdInput placeholder="Policy">
              </md-input-container>
            </div>
            <div>
              <md-input-container class="input-full-width">
                <input mdInput placeholder="Payor">
              </md-input-container>
            </div>
          </div>
          <div class="container">
            <div>
              <md-input-container class="input-full-width">
                <input mdInput placeholder="Visit Doctor">
              </md-input-container>
            </div>
            <div>
              <md-input-container class="input-full-width">
                <input mdInput placeholder="Purpose of visit">
              </md-input-container>
            </div>
            <div>
              <md-input-container class="input-full-width">
                <input mdInput placeholder="MOH Visit type">
              </md-input-container>
            </div>
          </div>
          <div class="container">
            <div class="two">
              <md-input-container class="input-full-width">
                <textarea mdInput placeholder="Remark"></textarea>
              </md-input-container>
            </div>
          </div>
      </md-card-content>
    </md-card>
  </form>
</section>