<div class="toolbar">
    <div>
        <button md-raised-button (click)="onSave()">Save</button>
        <button md-raised-button>New</button>
        <button md-raised-button>Save + New</button>
    </div>
</div>
  <p>
    {{data | json}}
  </p>
<section>
  <p-growl [(value)]="msgs" life=3000></p-growl>
    <md-card>
      <md-card-header>
        <md-card-title>Inventory Brand</md-card-title>
        <md-card-subtitle>New Inventory Brand</md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <div class="ui-g">
            <div class="ui-g-6">
                <md-input-container class="input-full-width">
                  <input mdInput placeholder="Inventory Brand" [(ngModel)]="data.inventoryBrandName" name="inventoryBrandName">
                </md-input-container>
            </div>
            <div class="ui-g-6">
              <md-checkbox [(ngModel)]="data.active" name="active">Active</md-checkbox>
            </div>
        </div>
      </md-card-content>
    </md-card>
</section>