<section>
    <md-card>
      <md-card-header>
        <md-card-title>Appointment</md-card-title>
      </md-card-header>
      <md-card-content>
    <p-schedule [events]="events" [header]="header" [eventLimit]="4" [editable]="true" [eventDurationEditable]="true"
                (onDayClick)="handleDayClick($event)" (onEventClick)="handleEventClick($event)"></p-schedule>
    
    <p-dialog header="Appointment Details" [(visible)]="dialogVisible" [responsive]="true" showEffect="fade" [modal]="false" [contentStyle]="{'overflow':'visible'}"
        [style]="{'overflow':'visible'}" [resizable]="true" >
        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="event">
            <div class="ui-grid-row">
                <md-input-container class="input-full-width">
                    <input mdInput placeholder="Title" id="title" [(ngModel)]="event.title" >
                </md-input-container>
            </div>
            <div class="ui-grid-row">
                <md-input-container class="input-full-width">
                    <input mdInput type="datetime-local" [(ngModel)]="dd" placeholder="Start" name="Start">
                </md-input-container>          
            
            </div>
            <div class="ui-grid-row">
              <md-input-container class="input-full-width">
                    <input mdInput type="datetime-local" [(ngModel)]="event.end" placeholder="End" name="End">
                </md-input-container>
            </div>
            <div class="ui-grid-row">
                <md-input-container class="input-full-width">
                    <input mdInput placeholder="Description" id="Description" [(ngModel)]="dd" >
                </md-input-container>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="allday">All Day</label></div>
                <div class="ui-grid-col-8"><p-checkbox [(ngModel)]="event.allDay" binary="checkbox"></p-checkbox></div>
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-close" (click)="deleteEvent()" label="Delete" [disabled]="!event?.id"></button>
                <button type="button" pButton icon="fa-check" (click)="saveEvent()" label="Save" [disabled]="!event?.start"></button>
            </div>
        </p-footer>
    </p-dialog>

      </md-card-content>
    </md-card>
</section>



