<section >
  
  <div class="ui-g">
      <div class="ui-g-6">
        <md-card>
          <md-card-header>
            <md-card-title></md-card-title>
              <md-toolbar color="accent">
                  <span>Master Data Listing</span>
                  <span class="spacer"></span>
                    <i class="material-icons">view_module</i>
              </md-toolbar>
          </md-card-header>
          <md-card-content>
        <md-nav-list>
          <a *ngFor="let menuItem of menuItems"
            md-list-item [routerLink]="[menuItem.overview]">
            {{menuItem.name}}
          </a>
        </md-nav-list>
          </md-card-content>
        </md-card>
      </div>
      <div class="ui-g-6">
        <md-card>
          <md-card-header>
            <md-card-title></md-card-title>
              <md-toolbar color="accent">
                  <span>Master Data New Record</span>
                  <span class="spacer"></span>
                    <i class="material-icons">plus_one</i>
              </md-toolbar>
          </md-card-header>
          <md-card-content>
        <md-nav-list>
          <a *ngFor="let menuItem of menuItems"
            md-list-item [routerLink]="[menuItem.newRecord]">
            {{menuItem.name}}
          </a>
        </md-nav-list>
          </md-card-content>
        </md-card>
      </div>
  </div>


</section>